.container {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 200px;
	margin: 10px;
}

.shows-archive {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

/* .header {
	text-transform: uppercase;
} */
